{{#> layout title="Verify"}}
    <h1>Verify your identity</h1>
    <p>to verify your identity please click this link</p>
    <a src="{{Link}}"><button>Click here</button></a>
    <p>Or copy paste link this url to the browser '{{Link}}'</p>
{{/layout}}
